config quecmanager 'config'
	option enabled '1'
	option port '3000'
	option hostname '0.0.0.0'

config quecmanager 'memory'
	option enabled '1'
	option interval '5'

config quecmanager 'ping'
	option enabled '1'
	option interval '1'
	option target_primary '8.8.8.8'
	option target_secondary '1.1.1.1'

config quecmanager 'connection_monitor'
	option enabled '1'
	option alert_email ''
	option alert_threshold '5'

config quecmanager 'uptime'
	option enabled '1'
	option websocket_port '8838'
